name: Deploy to Production

on:
  push:
    branches: [ "main" ]

jobs:

  deploy:
    name: Build and Push to ECR
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'v1.31.0'

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Load secrets and save to app.env
      run: aws secretsmanager get-secret-value --secret-id simple_bank --query SecretString --output text | jq -r 'to_entries|map("\(.key)=\(.value)")|.[]' > app.env

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: simplebank
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
    
    - name: Update kube config
      run: |
        aws eks update-kubeconfig --name simple-bank --region ap-southeast-1 --verbose
        echo "Current context:"
        kubectl config current-context
        echo "Testing connection:"
        kubectl get svc || echo "Failed to connect to cluster"

    - name: Debug AWS and Kubectl
      run: |
        echo "AWS Identity:"
        aws sts get-caller-identity
        echo "EKS Clusters:"
        aws eks list-clusters --region ap-southeast-1
        echo "Updating kubeconfig:"
        aws eks update-kubeconfig --name simple-bank --region ap-southeast-1 --verbose
        echo "Kubectl config:"
        kubectl config view
        echo "Current context:"
        kubectl config current-context

    - name: Deploy image to Amazon EKS
      run: |
        kubectl apply -f eks/deployment.yaml
        kubectl apply -f eks/service.yaml
        kubectl apply -f eks/ingress.yaml